@model _22July.Models.Stationary

<div class="text-center">
    <h1 class="display-4">Add Stationary</h1>

</div>
<form asp-controller="Home" asp-action="Stationary" method="post">
   
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" style="color:red"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>
    <br />
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" style="color:red"></span>
    </div>
    <br />
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" style="color:red"></span>
    </div>
    <br />
   
    <button type="submit" class="btn btn-primary">Save </button>
    <br />
</form>
<div asp-validation-summary="All" style="color:red"></div>
