<h2 style="color:green">
    Automobile Registered Successfully
</h2>

<h3>
    Vehicle Name : @ViewBag.VehicleName
</h3>

<h3>
    Brand : @ViewBag.Brand
</h3>

<br />

<a asp-controller="Manufacturer"
   asp-action="Details"
   class="btn btn-success">
    Enter Manufacturer Details
</a>
